.contacts {
    padding: 130px 0;
    text-align: center;
}

.contacts__inner {
    @include inner;
}

.contacts__title {
    @include font-title-small;

    @media(max-width: $mobile-max) {
        font-size: 36px;
        line-height: 49px;
    }
}

.filter {
    display: flex;
    padding: 80px 0 40px;
    list-style: none;
    justify-content: center;
    gap: 50px;
}

.filter_item {
    list-style: none;
}

.contacts__link {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: rgba($color-black, 0.8);
    text-transform: uppercase;
    text-decoration: none;

    &.active {
        color: $color-red
    }
}

.contacts__tab {
    display: none;

    &.active {
        display: block;
    }
}

.contacts__map {
    width: 733px;
}