.footer {
  background-color: $color-dark;
  padding: 31px 0;
}

.footer__inner {
  @include inner;
}

.footer__wrap {
  display: flex;
  align-items: center;
}

.phone {
  color: $color-white;
  text-decoration: none;
  margin: 0 60px 0 auto;
  font-family: $font400;
  font-size: 28px;
  line-height: 38px;
}

