.header {
  background-color: $color-dark;
}

.header__inner {
  @include inner;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $color-white;
  text-decoration: none;

  @media(max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

   @media(max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}