.header {
  background-color: $color-dark;
  }

.header__inner {
  @include inner;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $color-white;
}
