.lead {
  background-image: url('../images/lead-bcg.jpg');
  background-color: rgba(51, 51, 51, 0.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.lead__inner {
  @include inner;
}

.lead__bg {
  background-color: rgba(51, 51, 51, 0.4);
  padding: 200px 0 245px;
  text-align: center;
}

.promo__title {
  margin-bottom: 100px;
  font-family: $font600;
  font-size: 72px;
  line-height: 98px;
  color: $color-white;
}
