.menu {

  @media(max-width: $mobile-max) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    gap: 10px;

    @media(max-width: $mobile-max) {
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 33px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;

    &.active {
      background-color: $color-red;
    }

    &:hover {
      background-color: $color-red;
    }
  }

}

.burger {
  display: none;
  margin-right: 20px;
  width: 30px;
  height: 30px;


  @media(max-width: $mobile-max) {
    display: inline-block;

  }
}