.menu {

   @media(max-width: $mobile-max) {
    display:none;
  }

  ul {
    display: flex;
    gap: 10px;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 33px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;

    &.active {
      background-color: $color-red;
    }

    &:hover {
       background-color: $color-red;
    }
  }

}   

.burger {
  display: none;
  margin-right: 20px;
  width: 30px;
  height: 30px;

  
   @media(max-width: $mobile-max) {
    display: inline-block;
    
  }
}
