.product {
  padding-bottom: 161px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3) //в учебных целях
}

.product__inner {
  @include inner;
}

.product__title {
  margin: 130px 0 97px;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
}

.product__list {
  display: flex;
  gap: 20px;
  margin-bottom: 120px;
}

.product__item {
  width: calc(25% - 3 / 4 * 20px);
  // border: 1px solid;
}

.product-link {
  text-decoration: none;
}
.product-link__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33PX;
  text-align: center;
  color: $color-white;
}
