.product__menu {
    display: flex;
    margin-bottom: 40px;
    gap: 50px;
    justify-content: center;
}

.product__menu--item {
    list-style: none;
}

.product__menu--link {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8)
}

.product__menu--link--actv {
    color: $color-red;
}