// common files
@import "common/_variables";
@import "common/_fonts";
@import "common/_common";
@import "common/_mixins";

// blocks
@import "blocks/_header";
@import "blocks/_menu";
@import "blocks/_lead";
@import "blocks/_btn";
@import "blocks/_product";
@import "blocks/_order";
@import "blocks/_footer";
@import "blocks/_social-items";


