* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px;
  font-family: $font;
  @media(min-width: $mobile-max) {
    padding-top: 70px;
  }
}

img {
  display: block;
  max-width: 100%;
}
