// Fonts
$font400: 'Open Sans400', sans-serif;
$font600: 'Open Sans600', sans-serif;
$font700: 'Open Sans700', sans-serif;


// colors
$color-dark: #333333;
$color-orange: #FF2D2D;
$color-white: #FFFFFF;


// indents

// breakpoints
